<div class="row p-l-2 p-2">
    <div class="col-sm-12">
        <div class="card text-center">
            <div class="card-header">
              Hello {{username}}!
            </div>
            <div class="card-body">
              <h5 class="card-title">Learn And grow</h5>
              <p class="card-text">Click on below button to start learning.</p>
              <a routerLink="/learning" class="btn btn-primary">My Learning</a>
            </div>
            <div class="card-footer text-muted">
              
            </div>
          </div>
    </div>
</div>
